*{
    padding: 0;
    margin: 0;
    background-color: rgb(191, 201, 201);
}



#container{
    background-color: white;
    width: 240px;
    height: 390px;
    border-radius: 10px;
    margin-left: 550px;
    margin-top: 100px;
    box-shadow: 9px 5px 5px rgb(36, 34, 34);
}
img{
    width: 220px;
    height: 190px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.p1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    background-color: white;
    font-family: sans-serif;
    margin-left: 9px;
}

.p2{
    font-size: 17px;
    background-color: white;
    margin-left: 15px;
    margin-top: 20px;
    
}